@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-bottom: 0 4px 6px -2px rgba(0, 0, 0, 0.1);

  --color-primary-50: #fcf3f9;
  --color-primary-100: #f9e7f6;
  --color-primary-200: #f0cee9;
  --color-primary-300: #e3a6d4;
  --color-primary-400: #d270b6;
  --color-primary-500: #97357c;
  --color-primary-600: #71335f;
  --color-primary-700: #5e294d;
  --color-primary-800: #4d223f;
  --color-primary-900: #3f1f34;
  --color-primary-950: #2a0d20;

  --font-UKsans: UKsans;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Custom CSS to hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply border-transparent focus:border-transparent focus:ring-0 focus:ring-transparent fill-gray-900 dark:fill-white;
  /* -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: all 5000s ease-in-out 0s;
}
